# Ignorar archivos temporales
*.log
*.tmp
*.bak

# Ignorar dependencias si usas Composer
/vendor/

# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# Ignorar otros archivos innecesarios
node_modules/
npm-debug.log
yarn-error.log